.login {
  //   font-size: 20px;
  //   .box1 {
  //     margin: 100px auto 0;
  //     position: relative;
  //     display: inline-block;
  //     input {
  //       padding: 0 40px 0 20px;
  //       border: 1px solid #eee;
  //       background-color: #eee;
  //       font-size: 14px;
  //       outline: none;
  //       width: 160px;
  //       height: 38px;
  //       transition: all 0.5s;
  //       border-radius: 38px;
  //       &:focus {
  //         width: 280px;
  //         outline: none;
  //         box-shadow: none;
  //       }
  //     }
  //     span {
  //       position: absolute;
  //       top: 4px;
  //       right: 5px;
  //       width: 30px;
  //       height: 30px;
  //       line-height: 30px;
  //       padding: 0;
  //       color: #969696;
  //       text-align: center;
  //       background: #222;
  //       border-radius: 50%;
  //       font-size: 15px;
  //       cursor: pointer;
  //     }
  //   }

  textarea {
    width: 200px;
    min-height: 16px;
    padding: 0;
  }
}
